
@include min-screen(1024px) {
  .snowmobile-stats-box {
    width: 40%;
  }
}

@include max-screen(1023px) {
  .snowmobile-stats-box {
    width: 100%;
  }
}

.stats-box {
  min-height: 250px;
  box-sizing: border-box;
  overflow: hidden;
  float: right;
  position: relative;
  border: 1px dotted #b3b3b3;
  border-left: none;
  border-top: none;

  dt {
    font-weight: 800;
    margin-top: 0.7em;
  }

  dd {
    display: inline-block;
    padding-left: 1em;
  }

  // Bottom Flag
  &:after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0.4em;
    border-top: 0.8em solid $secondary-color;
    border-right: 0.8em solid #f7f7f7;
    font-size: 2.2em;
    font-weight: 800;
  }

  .stats-header {
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    writing-mode: vertical-lr;
    transform: rotate( -90deg );
    transform-origin: 50% 33%;
    position: absolute;
    left: -0.95em;
    top: 2em;
    text-transform: uppercase;

    // Top Flag
    &:before {
      content: '';
      width: 0;
      position: absolute;
      top: -0.15em;
      left: 3.1em;
      border-top: 0.8em solid #ffffff;
      border-left: 0.8em solid $secondary-color;
    }

  }

  .stats-body {
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 1em;
    border-left: 2.5em solid $secondary-color;
  }

}