@media screen and (min-width: 1024px) {
  .snowmobile-stats-box {
    max-width: 45%; } }

@media screen and (min-width: 728px) {
  .snowmobile-stats-box {
    max-width: 100%; } }

.snowmobile-stats-box {
  box-sizing: border-box;
  overflow: hidden;
  float: right;
  position: relative;
  border: 1px dotted #b3b3b3;
  border-left: none;
  border-top: none; }
  .snowmobile-stats-box:after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0.4em;
    border-top: 0.8em solid #F26522;
    border-right: 0.8em solid #f7f7f7;
    font-size: 2.2em;
    font-weight: 800; }
  .snowmobile-stats-box .stats-header {
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 33%;
    transform-origin: 50% 33%;
    position: absolute;
    left: -1.1em;
    top: 2em; }
    .snowmobile-stats-box .stats-header:before {
      content: '';
      width: 0;
      position: absolute;
      top: -0.12em;
      left: 3.4em;
      border-top: 0.8em solid #ffffff;
      border-left: 0.8em solid #F26522; }
  .snowmobile-stats-box .snowmobile-stats {
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 1em;
    border-left: 2.5em solid #f26522; }
  .snowmobile-stats-box dt {
    font-weight: 800;
    margin-top: 0.7em; }
  .snowmobile-stats-box dd {
    display: inline-block;
    padding-left: 1em; }

.list-step {
  position: relative;
  padding-bottom: 0.6em; }
  .list-step .step-image {
    margin: auto; }
  .list-step:before {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 2px;
    width: 90%;
    border-bottom: 2px solid #464646; }
